<div class="container__smalls-card">
    <div class="container__smalls-card-content">
        <div class="small-card__photo">
            <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCdck28Ey4vVQ1jRgBlKYx37YksPF2m4ye5Q&usqp=CAU" 
            alt=""
            >
        </div>
    
        <div class="small-card__title">
            <h1><a href="#">Teste titulo no card pequeno</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>