<header>
    <app-menu-bar></app-menu-bar>
</header>



<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQpbPJx8D2348hMLQBg6NofaGEzhuan-zMyYXYiR1vbQJIuAy9NqKZgwE9xlavNxiAn7W5IgBiFVyC6mXVBPncq2Ficd-YrIFt9yM4T1u6o2XGUlOkS8tITuA&usqp=CAE"
        cardTitle="Teclado Mecanico compacto"
        cardDiscritption="Anunciado novo teclado mecanico para quem tem pouco espaço e abre mão do teclado numerico"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTRozhXCKdNRk25H16zXepJU0v6bYO_tP_foor8Z0ZeG4haNVm1UB5kMqEx-kx_cob_833gjwOyNrQpbjmbgvoannqlWwfrsnck1yNc5mw89GPGNQZvlcR8bg&usqp=CAE"
        cardTitle="Teclado Mecanico Aleatorio 1"
        ></app-small-card>
    
        <app-small-card
        photoCover="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTbeOFPFIV-ELxVxC0lcTwZob8PkVEiRoNVToIgHsYvrzDgjlOmzfzagOa7mCzRj_8way6iaMLf4ZHqBfzFkRgypSWLoQfUgtNa4_dJODRJ55voeanoPM32gA&usqp=CAE"
        cardTitle="Teclado estranho Aleatorio 1"
        ></app-small-card>
    
    </div>



</div>
